.auth{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f8fafc;
}

.auth-container{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.auth-container h2{
    text-align:center;
    color:#1f2b50;
}

.auth-container p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.auth-container form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.auth-container input{
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

.auth-container input:focus{
    outline:none;
    border-color:#16a34a;
}

.auth-container button{
    padding:14px;
    background:#16a34a;
    color:#fff;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

.auth-container button:hover{
    background:#15803d;
}

.bottom-text{
    margin-top:20px;
}

.bottom-text a{
    color:#16a34a;
    text-decoration:none;
    font-weight:600;
}